<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
    <meta charset="UTF-8">
    <title>About KingDomino</title>
  <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
</head>
<body>
  <ul id="ul-navbar">
        <li><a class="navbar" href="index/">Home</a></li>
        <li>
            <div class="dropdown">
                <span class="navbar">Games</span>
                <ul class="dropdown">
                    <div class="dropdown-content">
                        <li><a class="action" href="loveletter">Love Letter</a></li>
                        <li><a class="action" href="kingdomino">KingDomino</a></li>
                    </div>
                </ul>
            </div>
        </li>
        <li><a class="navbar" href="stats">Statistics</a></li>
	</ul>
    <div class="box-body">
      <img src="{% static 'KingDomino\kindominobox4.png' %}" alt="KingDomino" height="250px">
    </div>
</body>
</html>