<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Playing Love Letter</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script type="text/javascript">
        var Guard = "{% static 'Love letter/guard.jpg'%}";
        var Priest = "{% static 'Love letter/priest.jpeg' %}";
        var Baron = "{% static 'Love letter/baron.jpg' %}";
        var Handmaid = "{% static 'Love letter/handmaid.png' %}";
        var Prince = "{% static 'Love letter/prince.webp' %}";
        var King = "{% static 'Love letter/king.jpeg' %}";
        var Countess = "{% static 'Love letter/countess.jpeg' %}";
        var Princess = "{% static 'Love letter/princess.png' %}";
    </script>
    <script type="text/javascript" src="{% static 'Love letter/loveletter.js' %}"></script>
</head>
<body>
   <ul id="ul-navbar">
        <li><a class="navbar" href="../../">Home</a></li>
        <li>
            <div class="dropdown">
                <span class="navbar">Games</span>
                <ul class="dropdown">
                    <div class="dropdown-content">
                        <li><a class="action" href="../">Love Letter</a></li>
                    </div>
                </ul>
            </div>
        </li>
   </ul>
   <div class="box-body" id='boxbody'>
        <div id="data">
            <span>Number of players: {{ nr_players }}<br></span>
            <span>Number of tokens necessary to win: {{ nr_tokens }}<br></span>
            <span>Tokens<br></span>
            {% for k, v in tokens.items %}
                <span id="token{{ k }}">{{ k }}: {{ v }}<br></span>
            {% endfor %}
            <span id="nr_pl" class="{{ nr_players }}"></span>
            <span id="card_nr" class="{{ card_nr }}"></span>
            <span id="card_range" class="{{ nr_cards }}"></span>
            {% for k, v in players.items %}
                <span id="{{ k }}" class="{{ v }}"></span>
            {% endfor %}
            <span id="prince" class="false"></span>
            <span id="round_over" class="false"></span>
        </div>
           <div id="cards">
               {% for x in nr_cards %}
               <img src="{% static 'Love letter/cardback.png' %}" class="deck" id="{{ x }}img" onclick="draw_card()">
               {% endfor %}
               <br>
           </div>
       <div id="popup_guard">
           <form id="guard_card" name="cards">Choose a card:<br>
               <input type="radio" id="2" name="card" value="2">
               <label for="2">Priest</label><br>
               <input type="radio" id="3" name="card" value="3">
               <label for="3">Baron</label><br>
               <input type="radio" id="4" name="card" value="4">
               <label for="4">Handmaid</label><br>
               <input type="radio" id="5" name="card" value="5">
               <label for="5">Prince</label><br>
               <input type="radio" id="6" name="card" value="6">
               <label for="6">King</label><br>
               <input type="radio" id="7" name="card" value="7">
               <label for="7">Countess</label><br>
               <input type="radio" id="8" name="card" value="8">
               <label for="8">Princess</label><br>
           </form>
       </div>
       <div id="cardlist">
        <h4>List of Cards</h4>
        <ul>
            <li>8 - Princess(1): Lose if discarded</li>
            <li>7 - Countess(1): Discard if together with King or Prince</li>
            <li>6 - King(1): Trade hands with another player</li>
            <li>5 - Prince(2): Choose a player, who has to discard his or her card</li>
            <li>4 - Handmaid(2): Protection until your next turn</li>
            <li>3 - Baron(2): Compare your card with another player, the player with the lower hand is out of the round</li>
            <li>2 - Priest(2): Look at someone's card</li>
            <li>1 - Guard(5): Guess a player's card, if you guessed right, he or she is out</li>
        </ul>
       </div>
   </div>
</body>


</html>