<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Playing Love Letter</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script type="text/javascript">
        var guard = "{% static 'Love letter/guard.jpg'%}";
        var priest = "{% static 'Love letter/priest.jpeg' %}";
        var baron = "{% static 'Love letter/baron.jpg' %}";
        var handmaid = "{% static 'Love letter/handmaid.png' %}";
        var prince = "{% static 'Love letter/prince.webp' %}";
        var king = "{% static 'Love letter/king.jpeg' %}";
        var countess = "{% static 'Love letter/countess.jpeg' %}";
        var princess = "{% static 'Love letter/princess.png' %}";
    </script>
    <script type="text/javascript" src="{% static 'Love letter/loveletter.js' %}"></script>
</head>
<body>
   <ul id="ul-navbar">
        <li><a class="navbar" href="../../">Home</a></li>
        <li>
            <div class="dropdown">
                <span class="navbar">Games</span>
                <ul class="dropdown">
                    <div class="dropdown-content">
                        <li><a class="action" href="../">Love Letter</a></li>
                        <li><a class="action" href="../../kingdomino">KingDomino</a></li>
                    </div>
                </ul>
            </div>
        </li>
        <li><a class="navbar" href="stats">Statistics</a></li>
   </ul>
   <div class="box-body">
        <div id="data">
            <span>Number of players: {{ nr_players }}<br></span>
            <span>Number of tokens necessary to win: {{ nr_tokens }}<br></span>
            <span>Your tokens: {{ tokens }}<br></span>
            <span>Tokens<br></span>
            {% for k, v in tokens.items %}
                <span id="token{{ k }}">{{ k }}: {{ v }}<br></span>
            {% endfor %}
            <span id="nr_pl" class="{{ nr_players }}"></span>
            <span id="card_nr" class="{{ card_nr }}"></span>

            {% for k, v in players.items %}
                <span id="{{ k }}" class="{{ v }}">{{ k }}, {{ v }}</span>
            {% endfor %}
        </div>
           <div id="cards">
               {% for x in nr_cards %}
               <img src="{% static 'Love letter/cardback.png' %}" class="deck" id="{{ x }}img" onclick="draw_card()">
               {% endfor %}
               <br>
           </div>
       <div id="popup_form">
           <form id="guard_card" name="cards">Choose a card:<br>
               <input type="radio" id="2" name="card" value="2">
               <label for="2">Priest</label><br>
               <input type="radio" id="3" name="card" value="3">
               <label for="3">Baron</label><br>
               <input type="radio" id="4" name="card" value="4">
               <label for="4">Handmaid</label><br>
               <input type="radio" id="5" name="card" value="5">
               <label for="5">Prince</label><br>
               <input type="radio" id="6" name="card" value="6">
               <label for="6">King</label><br>
               <input type="radio" id="7" name="card" value="7">
               <label for="7">Countess</label><br>
               <input type="radio" id="8" name="card" value="8">
               <label for="8">Princess</label><br>
           </form>
       </div>
   </div>
</body>


</html>