<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Playing Love Letter</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script type="text/javascript">
        var guard = "{% static 'Love letter/guard.jpg'%}";
        var priest = "{% static 'Love letter/priest.jpeg' %}";
        var baron = "{% static 'Love letter/baron.jpg' %}";
        var handmaid = "{% static 'Love letter/handmaid.png' %}";
        var prince = "{% static 'Love letter/prince.webp' %}";
        var king = "{% static 'Love letter/king.jpeg' %}";
        var countess = "{% static 'Love letter/countess.jpeg' %}";
        var princess = "{% static 'Love letter/princess.png' %}";
    </script>
    <script type="text/javascript" src="{% static 'Love letter/loveletter.js' %}"></script>
</head>
<body>
   <ul id="ul-navbar">
        <li><a class="navbar" href="../../">Home</a></li>
        <li>
            <div class="dropdown">
                <span class="navbar">Games</span>
                <ul class="dropdown">
                    <div class="dropdown-content">
                        <li><a class="action" href="../">Love Letter</a></li>
                        <li><a class="action" href="../../kingdomino">KingDomino</a></li>
                    </div>
                </ul>
            </div>
        </li>
        <li><a class="navbar" href="stats">Statistics</a></li>
   </ul>
   <div class="box-body">

       <span>Number of players: {{ nr_players }}<br></span>
       <span>Number of tokens necessary to win: {{ nr_tokens }}<br></span>
       <span>Your tokens: {{ tokens }}<br></span>
       <span id="nr_pl" class="{{ nr_players }}"></span>
       <span id="card_nr" class="{{ card_nr }}"></span>
       <span id="user" class="{{ user }}"></span>
       <span id="player1" class="{{ player1 }}"></span>
       <span id="player2" class="{{ player2 }}"></span>

           <div id="cards">
               {% for x in nr_cards %}
               <img src="{% static 'Love letter/cardback.png' %}" class="deck" id="{{ x }}" onclick="draw_card()">
               {% endfor %}
               <br>
           </div>
   </div>
</body>


</html>